<ion-header [translucent]="true">
  <ion-toolbar color="danger" style="text-align: center;">
    <ion-title >
    ♥ Calculadora do Amor ♥ 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">


  <div id="container">

    <p> CALCULE SEU AMOR </p>

    <br>
    <br>

    <p> ♥ Digite o primeiro nome : </p>
    <input class="input" type="text" [(ngModel)]="nome1">
    
    <br>
    <br>


    <p> ♥ Digite o segundo nome: </p>
    <input class="input" type="text" [(ngModel)]="nome2">

    <br>
    <br>

    
    <button class="btn btn-danger fs-5" (click)=" enviarDados()"> Calcular </button>

    <br>
    <br>
    <br>

    <p [class.painel]="calculando" [class.scale-up-center]="!calculando" class="mt-3 text-center" id="resultado">
      {{ resultado }} % </p>

    <p class=" msg d-flex justify-content-center">{{mensagem}}</p>




  </div>
</ion-content>